MONGO_URI=mongodb://
DOCKER_MONGO_URI=mongodb://mongo:27017/store
JWT_ACCESS_SECRET=your_jwt_secret_here
JWT_REFRESH_SECRET=your_jwt_refresh_secret_here
ACCESS_TOKEN_EXPIRES=15m
REFRESH_TOKEN_EXPIRES=7d
PORT=5000