.container {
  padding-top: 100px;
}
.wrapper {
  margin: 0 auto;
  width: 400px;
  min-height: 300px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  border: 1px solid #78b043;
  border-radius: 12px;
  box-shadow: 0px 4px 8px rgba(120, 176, 67, 0.3);
  background-color: #f9f9f9;
  animation: shown 0.5s ease-in-out;
}

@keyframes shown {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.title {
  text-transform: uppercase;
  color: #374151;
  text-shadow: 0px 1px 2px #374151;
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-5px);
  }
  100% {
    transform: translatey(0px);
  }
}

.link {
  width: 100px;
  text-align: center;
  padding: 10px;
  color: #78b043;
  text-shadow: 0px 1px 2px #78b043;
  border: 1px solid #78b043;
  border-radius: 10px;

  text-decoration: none;
  box-shadow:
    0 1px 3px rgba(120, 176, 67, 0.2),
    0 1px 2px rgba(120, 176, 67, 0.1);
  transition:
    background-color 0.3s,
    color 0.3s,
    box-shadow 0.3s,
    text-shadow 0.3s;
}
@media (hover: hover) {
  .link:hover {
    background-color: #78b043;
    color: #fff;
    text-shadow: 0px 1px 2px #fff;
    box-shadow:
      0 4px 6px rgba(120, 176, 67, 0.3),
      0 2px 4px rgba(120, 176, 67, 0.2);
  }
}
