.ordersWrapper {
  width: 100%;
  height: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 0;
  overflow: hidden;
}
.ordersHeader {
  padding: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  box-shadow:
    0 1px 3px rgba(120, 176, 67, 0.2),
    0 1px 2px rgba(120, 176, 67, 0.1);

  .headerTitle {
    font-size: 24px;
    text-transform: uppercase;
    text-shadow: 0px 1px 2px #374151;
  }

  .addOrderButton {
    background-color: transparent;
    border: 1px solid #78b043;
    color: #78b043;
    text-shadow: 0px 1px 2px #78b043;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow:
      0 3px 6px rgba(120, 176, 67, 0.2),
      0 2px 4px rgba(120, 176, 67, 0.1);
    transition:
      background-color 0.3s,
      color 0.3s,
      text-shadow 0.3s,
      box-shadow 0.3s;
  }
}

@media (hover: hover) {
  .addOrderButton:hover {
    background-color: #78b043;
    text-shadow: 0px 1px 2px #fff;
    color: #fff;
    box-shadow:
      0 4px 6px rgba(120, 176, 67, 0.3),
      0 2px 4px rgba(120, 176, 67, 0.2);
  }
}

.ordersList {
  padding: 20px;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1 1 auto;
  min-height: 0;
  overflow-y: auto;
}

.ordersItem {
  width: 100%;
  border: 1px solid #78b043;
  box-shadow:
    0 4px 6px rgba(120, 176, 67, 0.3),
    0 2px 4px rgba(120, 176, 67, 0.2);
  border-radius: 10px;

  .orderItemHeader {
    padding: 15px 20px;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    border-bottom: 1px solid #78b043;
    box-shadow:
      0 1px 3px rgba(120, 176, 67, 0.2),
      0 1px 2px rgba(120, 176, 67, 0.1);

    .orderItemTitle {
      font-size: 18px;
      text-shadow: 0px 1px 2px #374151;
      text-transform: uppercase;
      cursor: pointer;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -6px;
        width: 0;
        height: 2px;
        background-color: #789c43;
        transition: width 0.3s ease;
        box-shadow: 0px 1px 2px #789c43;
      }

      &.sidebarLink:focus-visible::after,
      &.active::after {
        width: 100%;
      }

      @media (hover: hover) {
        &:hover::after {
          width: 100%;
        }
      }
    }

    .orderItemProductsCount {
      background-color: #78b043;
      color: #fff;
      padding: 4px 10px;
      border-radius: 4px;
      text-shadow: 0px 1px 2px #fff;
    }
  }
  .orderItemContent {
    padding: 15px 20px;
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: center;

    .orderItemDescription {
      flex-grow: 1;
      padding: 10px 0;
      text-shadow: 0px 1px 2px #374151;
    }

    .orderItemCreated {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 14px;

      .orderItemCreatedShort {
        color: #78b043;
        text-shadow: 0px 1px 2px #78b043;
      }

      .orderItemCreatedFull {
        text-shadow: 0px 1px 2px #374151;
      }
    }

    .orderItemTotals {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      font-size: 14px;

      .orderItemTotalUSD {
        color: #78b043;
        text-shadow: 0px 1px 2px #78b043;
      }

      .orderItemTotalUAH {
        text-shadow: 0px 1px 2px #374151;
      }
    }

    .orderItemActions {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;

      .viewButton,
      .editButton,
      .deleteButton {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 3px 5px;
        border-radius: 5px;
        border: 1px solid #78b043;
        cursor: pointer;
        background-color: transparent;
        transition:
          background-color 0.3s,
          color 0.3s,
          border-color 0.3s,
          box-shadow 0.3s;
      }

      .orderItemActionsIcons {
        fill: #78b043;
        transition: fill 0.3s;
      }

      @media (hover: hover) {
        .viewButton:hover,
        .editButton:hover,
        .deleteButton:hover {
          background-color: #78b043;
          border-color: #78b043;
          box-shadow:
            0 3px 6px rgba(120, 176, 67, 0.2),
            0 2px 4px rgba(120, 176, 67, 0.1);

          .orderItemActionsIcons {
            fill: #fff;
          }
        }
      }
    }
  }
}

.stateText {
  padding-top: 100px;
  text-align: center;
  text-shadow: 0px 1px 2px #78b043;
  color: #78b043;
  font-size: 18px;
  animation: float 3s ease-in-out infinite;
}
.stateTextError {
  padding-top: 100px;
  text-align: center;
  text-shadow: 0px 1px 2px #d77878;
  color: #d77878;
  font-size: 18px;
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-5px);
  }
  100% {
    transform: translatey(0px);
  }
}

/* Modal */

.wrapperEditModal {
  min-height: 300px;
  border: 1px solid #edf0f2;
  padding: 20px;
  border-radius: 10px;

  .labelEditModal {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 8px;

    .labelText {
      margin-bottom: 8px;
      font-weight: 600;
      text-shadow: 0px 1px 2px #374151;
    }

    .inputEditTitle,
    .inputEditDescription {
      outline: transparent;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 14px;
      resize: vertical;
    }
    .inputEditDescription {
      outline: transparent;
      height: 200px;
      resize: none;
    }
  }
}
